{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.0",
        "shippedProposals": true,
        "modules": "commonjs",
        "targets": {
          "node": 4
        }
      }
    ]
  ],
  "plugins": ["transform-react-jsx"]
}
